
.modal-body {
  height: 100%;
  overflow-y: auto;
}

.modal-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.modal-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.modal-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.modal-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.modal-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.modal-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
